body{
    font-family: 'Inconsolata', monospace;
    background-color: cornflowerblue;
}
.container{
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
i{
    font-size: 35px;
}
#logo{
    font-size: 40px;
}
.container2{
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
img{
   height: 40px;
   width: 70px;
}
#inputcountry,#show{
    border-radius: 8px;
    margin-bottom: 10px;
    color: rgb(253, 5, 191);
}
p{
    color: brown;
    font-size: 30px;
}
.card{
    border-radius: 15px;
    margin-right: 10px;
}
@media (max-width: 600px) { 
    .container2{
        flex-direction: column;
    }
    .card{
        margin-bottom: 10px;
    }
 }
